<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>



    <div id="app">

        <div class="favorites">
            <transition-group name="list">
                <div class="favorite" v-for="alias in TodosFavoritos" :key="alias.id">
                    <a @click.prevent="mostrarFavoritos(alias)" href="">
                        <img v-bind:src="alias.picture.data.url" alt="" class="favorite__avatar">
                    </a>
                </div>
            </transition-group>
        </div>

        <article class="content">
            <h1 class="text-4xl text-blue-500 text-center">Buscar usuarios de Facebook</h1>
            <br>
            <center>
                <p class="text-3xl text-blue-300">{{message}}</p>
                <br>
            </center>
            <form class="search" v-on:submit.prevent="Buscar">
                <input v-model="busqueda" type="number" class="search__input" required placeholder="Buscar usuario">
                <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    value="Buscar">
            </form>

            <transition>
                <div class="bg-teal-100 p-12 border-cyan-700 border-4 rounded grow justify-center" v-if="result">
                    <h2 class="text-3xl text-black text-center">{{result.name}}</h2><br>
                    <br>
                    <img v-bind:src="result.picture.data.url" alt="" class="result__avatar">
                    <br>
                    <div>
                        <a v-if="estaFavoritos" class="text-gray-900 text-xl font-medium mb-2 text-center" href="" v-on:click.prevent="removeFavorito">Eliminar favorito
                            <img src="img/delete.png" alt="" width="30" height="30" />
                        </a>
                        <a v-else class="text-gray-900 text-xl font-medium mb-2 text-center" href="#" v-on:click.prevent="addFavorito">Añadir favoritos
                            <img src="img/corazon.png" alt="" width="30" height="30" />
                        </a>
                    </div>
                </div>
            </transition>
        </article>
    </div>

    <script src="js/main.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>